		<div class="panel-body">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="glyphicon glyphicon-bell"></i> 404 Not Found！！</h3>
					</div>
					<div class="panel-body">
						<p class="description-dot"><TMPL_VAR NAME=message></p>
					</div>
				</div>
				<div class="panel panel-default">

					<div class="panel-body">
						<p class="description-dot"><a href="/">TOPへ</a></p>
					</div>
				</div>
			</div>
		</div>
