		<div class="panel-body">
			<div class="col-md-5">
				<!-- <TMPL_VAR NAME="USER_ROLE"> -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="glyphicon glyphicon-bell"></i>転送設定画面</h3>
					</div>
					<div class="panel-body">
						<p class="description-dot">こちらでは<b><TMPL_VAR NAME=user>@<TMPL_VAR NAME=domain></b>の転送設定(.forwardの設定)が出来ます。</p>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="glyphicon glyphicon-star"></i>転送設定方法</h3>
					</div>
					<div class="panel-body">
						<p class="description-dot">メールアドレスを入力すると、そのメールアドレスへ転送します。</p>
						<p class="description-dot">「メールボックスにためる」にチェックをするとメールボックにもメールがたまります。</p>
						<p class="description-dot">プログラムを設定する等、.forwardを直接編集したい場合は「高度な設定」タブから設定が可能です。</p>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-body">
						<TMPL_IF NAME="POSTMASTER_ROLE_ME">
						<p class="description-dot"><a href="/user/get/">ユーザ一覧</a></p>
						</TMPL_IF>
						<p class="description-dot"><a href="/userdetail/get/">パスワード変更</a></p>
						<p class="description-dot"><a href="/logout/">ログアウト</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<!-- Nav tabs -->
				<TMPL_IF name="HIGH_LEVEL">
					<div class="tab-pane" id="highlevel_setting">
						<h4 class="title">高度な設定</h4>
						<p class="text-danger">※高度な設定をしている場合は通常の転送設定は選択出来ません</p>
						<form action="/userdetail/forward_change/" id="DeveloperUserPassForm" method="post" accept-charset="utf-8" autocomplete="off">
							<label for="password">転送を編集する</label><br>
							<textarea class="form-control area_ll" name="forward_edit"><TMPL_LOOP NAME="LINE"><TMPL_VAR NAME="line"></TMPL_LOOP></textarea>
							<div class="btn-area">
								<input name="add_button" class="btn btn-primary" type="submit" value="転送変更"/>
							</div>
							<input type="hidden" name="target" value="2">
						</form>
					</div>
				<TMPL_ELSE>
				<ul class="nav nav-tabs nav-justified" role="tablist">
					<li class="active"><a href="#forward_setting" role="tab" data-toggle="tab">転送設定</a></li>
					<li><a href="#highlevel_setting" role="tab" data-toggle="tab">高度な設定</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="forward_setting">

						<h4 class="title">転送設定</h4>
						<form action="/userdetail/forward_change/" id="DeveloperUserPassForm" method="post" accept-charset="utf-8" autocomplete="off">
							<div class="form-vartical">
							<label for="domain">転送設定</label><br>
							</div>
							<textarea class="form-control area_ll" name="ailias_mail"><TMPL_LOOP NAME="ALIAS_ADDRESS"><TMPL_VAR NAME="line"></TMPL_LOOP></textarea>
							<label for="password">メールボックスの設定</label><br>
							<input name="user_mail" class="form-control" id="mail_list_checkbox" value="1" type="checkbox"<TMPL_IF NAME="USER_MAIL"> checked</TMPL_IF>><label class="checkbox_label" for="mail_list_checkbox">メールボックスにためる</label>
							<input type="hidden" name="target" value="1">
							<div class="btn-area">
								<input name="add_button" class="btn btn-primary" type="submit" value="設定を反映する"/>
							</div>
						</form>
					</div>

					<div class="tab-pane" id="highlevel_setting">
						<h4 class="title">高度な設定</h4>
						<form action="/userdetail/forward_change/" id="DeveloperUserPassForm" method="post" accept-charset="utf-8" autocomplete="off">
							<label for="password">.forwardを編集する</label><br>
							<textarea class="form-control area_ll" name="forward_edit"><TMPL_LOOP NAME="LINE"><TMPL_VAR NAME="line"></TMPL_LOOP></textarea>
							<div class="btn-area">
								<input name="add_button" class="btn btn-primary" type="submit" value="設定を反映する"/>
							</div>
							<input type="hidden" name="target" value="2">
						</form>
					</div>
				</div>
				</TMPL_IF>
			</div>
		</div>
