body {
	font-family: "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", "ƒƒCƒŠƒI", Meiryo, "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
}
input[type="text"],
input[type="password"] {
	border-radius: 3px;
	font-size: 1em;
}
input[type="checkbox"] {
	width: 34px;
	display: inline;
}

h4.title {
	border-bottom: 1px solid #CCC;
	border-left: 10px solid #CCC;
	padding: 4px;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  min-height: 100%;
  background:url('/docs/img/back.jpg') no-repeat center;
  background-size:cover;
}
.container {
	position: relative;
	z-index: 1;
}
.login-panel {
	min-width: 350px !important;
	border: 1px #FFF solid;
	box-shadow:rgba(153, 153, 153, 0.74902) 0px 0px 5px 3px;
	-webkit-box-shadow:rgba(153, 153, 153, 0.74902) 0px 0px 5px 3px;
	-moz-box-shadow:rgba(153, 153, 153, 0.74902) 0px 0px 5px 3px;
	border-radius: 4px;
}
	.login-panel > .panel-heading {
		height: 70px;
		padding: 0px;
		background: url(/docs/img/hbord.jpg) no-repeat center;
		border-bottom: 3px solid #FFF;
		text-align: center;
		vertical-align: middle;
		padding-top: 10px;
	}
	.login-panel > .panel-footer {
		background: url(/docs/img/fbord.jpg) no-repeat;
		border-top: 3px solid #FFF;
		color: #000;
		font-weight: bold;
		text-align: center;
		vertical-align: middle;
		background-position: top right;
	}
	.login-panel > .panel-footer p a {
		color: #000;
		text-decoration: underline;
	}

.btn-area {
	margin: 10px 0;
	text-align: center;
}
.btn {
	border-radius: 3px !important;
	font-weight: bold !important;
}
i.icon-gray {
	font-size: 1.1em;
	color: #555;
}
.form-error {
	border: 2px #a94442 solid;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.error-message {
	display: block;
	margin-top: 5px;
	color: #a94442;
	font-weight: bold;
}
	.error-message:before {
		padding: 0 5px;
		color: #a94442;
		content: '*';
	}
.login-error .message {
	display: inline;
}
.mail-confirm h1 {
	margin: 10px 0 20px;
	font-size: 28px;
}
.panel {
	background: none;
}
.panel-body {
	opacity: 1;
	background-color: #FFF;
}
.panel-body .description-dot {
	word-wrap: break-word;
}
.high-title {
	font-size: 35px;
	color: #FFF;
	margin-top: 7px;
}
.btn.dest_add {
	margin-top: 6px;
}
.form-vartical input {
	margin-left: 20px;
}
.checkbox_label {
	font-weight: initial;
	vertical-align: 1em;
}
textarea.area_ll {
	height: 200px;
}


	@media screen and (max-width: 1200px) {
	.login-panel > .panel-footer p {
		text-align: left;
	}

